/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: .95;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }
  .mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none;
  }
  .mat-expansion-panel:not(:last-child) {
    border-bottom: 1px solid #e9e9e9f5
  }

  .mat-expansion-panel-header.mat-expanded {
    height: 48px;
}
.mat-expansion-panel-spacing {
    margin: 0px 0 !important;
}
.mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important ;
}

.mat-action-row {
    padding: 0px !important;
    border-top: none ;
    border-top-style: none !important;
}


.mat-expansion-panel-body {
    padding: 0 24px 0px !important;
}

.mat-menu-panel {
    min-width: 112px !important;
    max-width: 355px !important;
}
    


  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    display: flex;
    flex-grow: 8 !important;
    flex-basis: 0;
    margin-right: 16px;
    align-items: center;
}

